---
layout: secondary
title: Team

team_members:
  - name: Adrian Schröter
    position: Project Manager
    email: adrian@suse.de
    github: adrianschroeter
    irc: adrianS
    description: "Adrian started his open source career as a developer of the first ripping tool for the KDE desktop (Krabber).
    In '99 SUSE hired him to be their Linux Desktop guy, so he spent the next couple of years taking care of the KDE desktop of the different SUSE Linux distributions.
    During that time he gathered a lot of knowledge about building software packages for consumer and enterprise customers.
    Which eventually lead him to his current position as project manager for the SUSE and openSUSE build infrastructure.

    \nWhen he's not out sailing or hiking and taking [pictures](http://www.flickr.com/photos/adrianschroeter) of it,
    you will most likely catch him thinking about the future of OBS."

  - name: Henne Vogelsang
    position: Frontend Team Lead & Developer
    email: hvogel@opensuse.org
    github: hennevogel
    twitter: henne
    blog: http://www.hennevogel.de
    irc: henne
    description: "For more than a decade Henne is a rigorous practitioner of Free Software development.
    He loves the raw power of communities collaborating and believes that everyone should be able to run, copy, distribute, study, change and improve the software that is ~~eating~~ running the world.
    A **full stack developer** of the modern web who develops in Ruby on Rails.

    \nHenne is beefing up the OBS Frontend, documentation and the projects promotion when he's not out viciously supporting his hometown football club or teaching free software development with programs such as [RailsGirls Summer of Code](http://railsgirlssummerofcode.org)."

  - name: Björn Geuken
    position: Frontend Developer
    github: bgeuken
    irc: bjoern|G

  - name: Christian Bruckmayer
    position: Frontend Developer
    email: christian@bruckmayer.net
    github: chrisbr
    twitter: bruckmayer
    irc: ChrisBr
    description: "After Marcus the second pup of the OBS team! Christian just _recently_ finished university and got into working full time on the OBS.
    He started his Free Software career as student of Henne in the [Google Summer of Code](https://developers.google.com/open-source/gsoc) and is now involved in hacking the Rails frontend of the Open Build Service.

    \nIf he's not hacking Ruby he's out doing what young people do: traveling the world, hanging out in clubs until 6:30 or visiting Mom & Dad."

  - name: Moisés Déniz
    position: Frontend Developer
    github: mdeniz
    twitter: moisesdeniz
    irc: mdeniz
    description: "Moises, from the most beautiful island of Gran Canaria, a hot blooded Ruby on Rails web developer with more than 15 years of experience under his belt.
    Moises is hacking together with Henne and Adrian the OBS frontend.

    \nIf he's not neck-deep in Ruby on Rails code he's out dancing the Reggaeton or shooting the most beautiful portrait photographs."

  - name: Manuel Schnitzer
    position: Former Frontend Developer
    email: mschnitzer@suse.com
    github: mschnitzer

  - name: Victor Pereira
    position: Frontend Developer
    email: vpereira@suse.com
    github: vpereira
    irc: vpereira

  - name: Ana María Martínez Gómez
    position: Frontend Developer
    email: anamaria@martinezgomez.name
    github: Ana06
    twitter: anamma_06
    blog: http://anamaria.martinezgomez.name
    irc: Ana06
    description: "Ana started at openSUSE as a Google Summer of Code student.
    She studied Computer Science Engineering and Mathematics at university and just after finishing she joined the OBS frontend team.

    \nShe can not avoid taking a look to every code that crosses her path, that's why she contributes to other open source projects as well.

    \nWhen she is not hacking you may find her painting, cooking or learning some German."

  - name: Eduardo Navarro
    position: Frontend Developer
    email: enavarro@suse.de
    github: eduardoj
    twitter: eduardoj
    irc: enavarro
    description: "Used to be a happy Perl programmer living at Gran Canaria.
    He moved to Nuremberg and to Ruby.

    \nStill a happy programmer, but with better beer."

  - name: Dany Marcoux
    position: Frontend Developer
    email: dmarcoux@suse.de
    github: dmarcoux
    irc: dmarcoux
    blog: https://blog.dmarcoux.com/

  - name: David Kang
    position: Frontend Developer
    email: dkang@suse.com
    github: DavidKang
    twitter: D4vid_Kang
    irc: dkang

  - name: Saray Cabrera Padron
    position: Frontend Developer
    email: scabrerapadron@suse.com
    github: saraycp
    irc: saraycp

  - name: Stephan Kulow
    position: "Web UI and API hacker, most important user!"
    email: coolo@suse.de
    github: coolo
    twitter: felixpapa
    irc: coolo
    description: "After years of being the source maintainer of the KDE desktop environment (over 6 million line of code and more than 1800 contributors) and being the release manager of two different GNU/Linux distributions (Caldera and openSUSE) Stephan Kulow (Coolo) knows what makes maintainers of huge projects tick and uses that knowledge to make the OBS better suited for this job.

    \nIf you know Coolo it won't surprise you that he won't be reduced to using OBS and takes action with hacking the web client, API and other components to make his work easier."

  - name: Michael Schröder
    position: Backend Team Lead & Project Manager
    email: mls@suse.com
    github: mlschroe
    irc: mls
    description: "Michael, is another FOSS old-timer in the team. Most hackers probably know him as one of the GNU screen maintainers, perl guru and dependency solver expert.
    Even before the inauguration of the Open Build Service Michael worked on the SUSE internal OBS predecessor _autobuild_, which means he brings more than 10 years of experience in developing build system backends to the table!
    At SUSE Michael shares the role of project manager for the SUSE and openSUSE build infrastructure with Adrian.

    \nApart from expanding the OBS backend with all kinds of cool features and taking care of the reference server backend, cooking good food and gaming make Michael a happy man."

  - name: Frank Schreiner
    position: Backend Developer
    email: fschreiner@suse.de
    github: m0ses
    irc: M0ses
    description: "Frank is a Free Software enthusiast since the late 90s.
    Initially a system administrator he started to develop web-based software in Perl in 2002.
    He recently joined the team and is currently going through a tough OBS backend bootcamp with his drill instructor Michael.

    \nBesides standing around one of his kettle grills and celebrating BBQ's, he's an expert in prototyping rc-cars based open-source computer hardware like the raspPi or arduino."

  - name: Marco Strigl
    position: Backend Developer
    email: mstrigl@suse.com
    github: lethliel
    twitter: lethliel
    irc: mstrigl

  - name: Marcus Hüwe
    position: Commandline Client Developer
    email: suse-tux@gmx.de
    github: marcus-h
    blog: http://lizards.opensuse.org/author/marcus_h
    irc: "}-Tux-{"
    description: "Marcus is currently getting his education in computer science at the University of Paderborn.
    When he's not busy with lectures, writing papers and enjoying the sweet student life he is taking care of the OBS command line client and library.
    His participation in the Free and Open Source community sparked as packager for the PackMan project, a 3rd party application repository for SUSE/openSUSE distributions.

    \nAs the only guy not well in his thirties and with full hair he proudly represents the next generation of Open Build Service hackers."

  - name: Dani Donisa Quevedo
    position: Frontend Developer
    email: daniel.donisa@suse.com
    github: danidoni
    irc: danidoni

  - name: Lukas Krause
    position: Frontend Developer
    email: lkrause@suse.com
    github: krauselukas
    irc: lkrause

  - name: Rubhan Azeem
    position: Frontend Developer
    email: rubhan.azeem@suse.com
    github: rubhanazeem
    irc: thinking

  - name: Dario Leidi
    position: Frontend Developer
    email: dleidi@suse.com
    github: ncounter
    irc: dario[m]

  - name: Jacob Michalskie
    position: Frontend Developer
    email: jacob.michalskie@suse.com
    github: hellcp-work
    irc: hellcp

  - name: Bernhard M. Wiedemann
    position: SRE
    email: bmwiedemann suse.de
    github: bmwiedemann
    irc: bmwiedemann
    blog: https://bmwiedemann.wordpress.com/
---

<div class="ui vertical stripe segment">
  <div class="ui centered container">
    <h2>Open Build Service Main Contributors</h2>
    <div class="ui three stackable special cards">

      {% for team_member in page.team_members %}

      {% assign short_name = team_member.name | truncatewords: 1, "" %}

      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="team_description">
                {{ team_member.description | blocks | markdownify}}
              </div>
            </div>
          </div>
          <img src="/images/team/{{ short_name | downcase }}.jpg">
        </div>
        <div class="content">
          <span class="header">{{ team_member.name }}</span>
          <div class="meta">
            <span class="date">{{ team_member.position }}</span>
          </div>
        </div>
        <div class="extra content">
          {% if team_member.email %}
          <a href="mailto:{{ team_member.email }}" target="_blank" title="Email {{ short_name }}"><i class="big mail icon"></i></a>
          {% endif %}
          {% if team_member.github %}
          <a href="http://github.com/{{ team_member.github }}" target="_blank" title="{{ team_member.github }} on Github"><i class="big github icon"></i></a>
          {% endif %}
          {% if team_member.twitter %}
          <a href="http://twitter.com/{{ team_member.twitter }}" target="_blank" title="{{ team_member.twitter }} on Twitter"><i class="big twitter icon"></i></a>
          {% endif %}
          {% if team_member.blog %}
          <a href="{{ team_member.blog }}" target="_blank" title="{{ short_name }}'s Blog"><i class="big rss icon"></i></a>
          {% endif %}
          {% if team_member.irc %}
          <i class="big comments outline icon link" title="{{ team_member.irc }} at IRC (Libera.Chat)" data-content="{{ team_member.irc }} at IRC (Libera.Chat)"></i>
          {% endif %}
        </div>
      </div>

      {% endfor %}

    </div>
  </div>
</div>
