<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/adrian.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Adrian Schröter</h4>
				<h5>Project Manager, Hacker, Admin, here since day one</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Adrian started his open source career as a developer of the first ripping tool for the 
					KDE desktop (<a href="#" data-reveal-id="adrianModal">Krabber</a>). In '99 SUSE hired him to 
					be their Linux Desktop guy, so he spent the next couple of years taking care of the KDE desktop
					of the different SUSE Linux distributions. During that time he gathered a lot of knowledge about
					building software packages for consumer and enterprise customers. Which eventually lead him to
					his current position as project manager for the SUSE and openSUSE build infrastructure.
				</p>
				<p>
				  When he's not out sailing or hiking and taking <a href="http://www.flickr.com/photos/adrianschroeter/" alt="Adrians
				  flickr stream" title="Adrians Flickr Stream">great pictures</a> of it, you will most likely catch him thinking
				  about the future of OBS, creating great concepts and taking care of the reference servers for openSUSE/SUSE.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:adrian@suse.de"><img src="/images/icons/email.png" title="Email Adrian"></a></li>
				<li><a href="http://www.adrian-schroeter.de/"><img src="/images/icons/rss.png" title="Adrians Blog"></a></li>
				<li><a href="http://github.com/adrianschroeter"><img src="/images/icons/github.png" title="Adrian on Github"></a></li>
				<li><a href="http://twitter.com/AdrianSchroeter"><img src="/images/icons/twitter.png" title="Adrian on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="adrianModal" class="reveal-modal">
  <img src="/images/krabber.jpg">
  <p>Krabber!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
