<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/chris.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Christian Bruckmayer</h4>
				<h5>Frontend Developer</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					After Marcus the second pup of the OBS team! Christian just recently finished
					university and got into working full time on the OBS. He started his Free Software
					career as student of Henne in the
					<a href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a>
					and is now involved in hacking the Rails frontend of the Open Build Service.
				</p>
				<p>
					If he's not hacking Ruby he's out doing what young people do: traveling the world, hanging out
					in clubs until 6:30 or visiting Mom &amp; Dad.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:cbruckmayer@suse.com"><img src="/images/icons/email.png" title="Email Chris"></a></li>
				<li><a href="http://github.com/chrisbr"><img src="/images/icons/github.png" title="Chris on Github"></a></li>
				<li><a href="http://twitter.com/bruckmayer"><img src="/images/icons/twitter.png" title="Chris on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
