<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/craig.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Craig Gardner</h4>
				<h5>Admin, Manager</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Starting back in 1995 as a systems administrator at a university, building software solutions has been a big part of Craig's life.
					He is an Open Build Service administrator for SUSE since the early days of its development and currently the people manager of the
					SUSE OBS Team.
				</p>
				<p>
				  When not working with the very capable OBS team, Craig likes spending quality time with his family in a variety of adventures,
					arranging choral music and teaching computer science.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:cgardner@suse.com"><img src="/images/icons/email.png" title="Email Craig"></a></li>
				<li><a href="https://github.com/craiggardner"><img src="/images/icons/github.png" title="Craig on Github"></a></li>
				<li><a href="http://twitter.com/ganglia"><img src="/images/icons/twitter.png" title="Craig on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
