<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/frank.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Frank Schreiner</h4>
				<h5>Backend/Perl Developer</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Frank is a Free Software enthusiast since the late 90s. Initially a system administrator he started to develop web-based software in Perl
					in 2002. He recently joined the team and is currently going through a tough OBS backend bootcamp with his drill instructor Michael.
				</p>
				<p>
				  Besides standing around one of his kettle grills and celebrating BBQ's, he's an expert in prototyping rc-cars based open-source computer hardware like the
					raspPi or arduino.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:fschreiner@suse.de"><img src="/images/icons/email.png" title="Email Frank"></a></li>
				<li><a href="https://github.com/m0ses"><img src="/images/icons/github.png" title="Frank on Github"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
