<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/henne.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Henne Vogelsang</h4>
				<h5>Frontend Developer</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					For more than a decade Henne is a rigorous practitioner of Free Software development. He loves the raw power of communities collaborating
					and believes that everyone should be able to run, copy, distribute, study, change and improve the software that is
          <del>eating</del> running the world. A <b>full stack developer</b> of the modern web who develops in Ruby on Rails and helps Humans
					to interact with data through mobile first, responsive and progressive enhanced HTML5, CSS3 and JavaScript driven user interfaces.
				</p>
				<p>
					Henne is beefing up the OBS Frontend, documentation and the projects promotion when he's not out viciously supporting his hometown football club
					or teaching free software development with programs such as <a href="http://railsgirlssummerofcode.org/">RailsGirls Summer of Code</a>.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:hvogel@opensuse.org"><img src="/images/icons/email.png" title="Email Henne"></a></li>
				<li><a href="http://www.hennevogel.de/"><img src="/images/icons/rss.png" title="Henne's Blog"></a></li>
				<li><a href="http://github.com/hennevogel"><img src="/images/icons/github.png" title="Henne on Github"></a></li>
				<li><a href="http://twitter.com/henne"><img src="/images/icons/twitter.png" title="Henne on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
