<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/jan.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Jan Krupa</h4>
				<h5>Admin</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Jan is a new OBS admin, although not new to big-ass infrastructure projects!
					He started with taking care of computer network infrastructure in 1998 and
					has a much experience with the nurturing of the SUSE Studio cluster.
				</p>
				<p>
					If he isn't roping hardware in the server room Jan likes to tinker with new
					technologies, like cryptocurrencies, and takes care of the Czech computer community
					network CZFree.Net.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:JKrupa@suse.com"><img src="/images/icons/email.png" title="Email Jan"></a></li>
				<li><a href="http://www.mobilnews.cz/honza/"><img src="/images/icons/rss.png" title="Jan's Blog"></a></li>
				<li><a href="https://github.com/Plnt/"><img src="/images/icons/github.png" title="Jan on Github"></a></li>
				<li><a href="http://twitter.com/Plnt"><img src="/images/icons/twitter.png" title="Jan on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
