<div class="ui container">
  <div id="MainMenu" class="ui huge secondary inverted pointing menu clean">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" alt="Home" title="Home"><img class="logo" src="/images/obs-logo.svg" style="height: 3.5em;"></a>
    <a href="/" alt="Home" title="Home" class="non_mobile item right floated">Home</a>
    <a href="/download/" title="Get all the OBS components" class="non_mobile item">Download</a>
    <a href="/help/" title="Read up upon the OBS, Screencasts, Talks, Workshops" class="non_mobile item">Documentation</a>
    <a href="/support/" title="Talk to human beings about your OBS problems" class="non_mobile item">Support</a>
    <a href="/team/" title="The People behind OBS" class="non_mobile item">Team</a>
    <a href="/blog/" title="News about OBS" class="non_mobile item">Blog</a>
  </div>
</div>
