<div class="ui container">
  <div id="MainMenu" class="ui large secondary inverted pointing menu clean">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a href="/" alt="Home" title="Home"><img class="logo" src="/images/obs-logo.svg" style="height: 3.5em;"></a>
    <a href="/" alt="Home" title="Home" class="non_mobile item right floated">Home</a>
    <a href="/download/" title="Get all the OBS components" class="non_mobile item">Download</a>
    <div class="ui dropdown item non_mobile">
      Documentation
      <i class="dropdown icon"></i>
      <div class="menu">
        <a href="/help/manuals/" title="Read up upon the OBS" class="item">Manuals</a>
        <a href="/help/materials/" title="Screencasts, Talks, Workshops" class="item">Materials</a>
      </div>
    </div>
    <a href="/support/" title="Talk to human beings about your OBS problems" class="non_mobile item">Support</a>
    <a href="/team/" title="The People behind OBS" class="non_mobile item">Team</a>
    <a href="/blog/" title="News about OBS" class="non_mobile item">Blog</a>
  </div>
</div>
