<div id="GuidesTabs" class="ui grid">
  <div class="four wide column">
    <div id="ManualsTabs" class="ui secondary vertical pointing menu">
      <a class="item active" data-tab="user">User</a>
      <a class="item" data-tab="administrator">Administrator</a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui active tab segment" data-tab="user">
      <p>
        It is intended for users and developers who want to dig deeper into OBS. It contains more background information, setup, and usage scenarios.
      </p>
      <div class="ui centered grid">
        <div class="three wide column">
          <a href="/help/manuals/obs-user-guide/" target="_blank" title="User Guide HTML" class="ui teal animated fade button full_width">
            <div class="visible content">
              Online<br />
              <small>HTML</small>
            </div>
            <div class="hidden content">
              <i class="big right arrow icon"></i>
            </div>
          </a>
        </div>
        <div class="three wide column">
          <a href="/files/manuals/obs-user-guide.pdf" target="_blank" title="User Guide PDF" class="ui teal animated fade button full_width">
            <div class="visible content">
              Document<br />
              <small>PDF</small>
            </div>
            <div class="hidden content">
              <i class="big eye icon"></i>
            </div>
          </a>
        </div>
        <div class="three wide column">
          <a href="/files/manuals/obs-user-guide.epub" target="_blank" title="User Guide EPUB" class="ui teal animated fade button full_width">
            <div class="visible content">
              E-Book<br />
              <small>EPUB</small>
            </div>
            <div class="hidden content">
              <i class="big eye icon"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="ui tab segment" data-tab="administrator">
      <p>
        It offers information about the initial setup and maintenance for running OBS instances.
      </p>
      <div class="ui centered grid">
        <div class="three wide column">
          <a href="/help/manuals/obs-admin-guide/" target="_blank" title="Admin Guide HTML" class="ui teal animated fade button full_width">
            <div class="visible content">
              Online<br />
              <small>HTML</small>
            </div>
            <div class="hidden content">
              <i class="big right arrow icon"></i>
            </div>
          </a>
        </div>
        <div class="three wide column">
          <a href="/files/manuals/obs-admin-guide.pdf" target="_blank" title="Admin Guide PDF" class="ui teal animated fade button full_width">
            <div class="visible content">
              Document<br />
              <small>PDF</small>
            </div>
            <div class="hidden content">
              <i class="big eye icon"></i>
            </div>
          </a>
        </div>
        <div class="three wide column">
          <a href="/files/manuals/obs-admin-guide.epub" target="_blank" title="Admin Guide EPUB" class="ui teal animated fade button full_width">
            <div class="visible content">
              E-Book<br />
              <small>EPUB</small>
            </div>
            <div class="hidden content">
              <i class="big eye icon"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
