<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/marcus.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Marcus Hüwe</h4>
				<h5>Commandline Client Hacker, whelp</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Marcus is currently getting his education in computer science at the University of Paderborn. When he's not busy
					with lectures, writing papers and enjoying the sweet student life he is taking care of the OBS command line client
					and library. His participation in the Free and Open Source community sparked as packager for the PackMan project, a 3rd party
					application repository for SUSE/openSUSE distributions.
				</p>
				<p>
				  As the only guy not well in his thirties and with full hair he proudly represents the next generation of Open Build
				  Service hackers.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:suse-tux@gmx.de"><img src="/images/icons/email.png" title="Email Marcus"></a></li>
				<li><a href="http://lizards.opensuse.org/author/marcus_h/"><img src="/images/icons/rss.png" title="Marcus Blog"></a></li>
				<li><a href="http://github.com/marcus-h"><img src="/images/icons/github.png" title="Marcus on Github"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
