<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/moises.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Moisés Déniz</h4>
				<h5>Frontend Developer</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Moises, from the most beautiful island of Gran Canaria, a hot blooded Ruby on Rails web developer with more than 15 years of experience under his belt.
					Moises is hacking together with Henne and Adrian the OBS frontend.
				</p>
				<p>
					If he's not neck-deep in Ruby on Rails code he's out dancing the Reggaeton or shooting the most beautiful portrait photographs.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:MDeniz@suse.com"><img src="/images/icons/email.png" title="Email Moises"></a></li>
				<li><a href="http://www.moisesdeniz.com"><img src="/images/icons/rss.png" title="Moises Blog"></a></li>
				<li><a href="https://github.com/mdeniz/"><img src="/images/icons/github.png" title="Moises on Github"></a></li>
				<li><a href="https://twitter.com/moisesdeniz"><img src="/images/icons/twitter.png" title="Moises on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
