
  {% for post in posts %}
  <div class="ui segment">
    {% if post.category %} <a href="/categories/{{ post.category | slugize }}" class="ui {{ post.category }} ribbon label">{{ post.category }}</a>{% endif %}
    <h4 class="header"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h4>
    <div>
      {% if post.author %}
      by {{ post.author }}
      {% else %}
      by the OBS Team
      {% endif %}
      posted on {{ post.date | date_to_string: "ordinal" }}
    </div>

    {{ post.excerpt |
       replace: '<p>', '__p__' |
       replace: '</p>', '__/p__' |
       strip_html |
       replace: '__p__', '<p class="post-description">' |
       replace: '__/p__', '</p>' }}

    <a href="{{ post.url }}" class="ui right floated teal button">Read more...</a>
    <div class="clearfix"></div>
  </div>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Previous</a>
    {% else %}
      <span>&laquo; Previous</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="/blog">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
