<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/sascha.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Sascha Peilicke</h4>
				<h5>Frontend Developer, Package Munger, Crispy</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
				  Sascha was SUSEs first new hire to work on the OBS, especially the frontend. He started out as a Trolltech intern
				  and quikly became, like so many people, involved with the KDE community. He started to put together the awesome
				  <a href="#" data-reveal-id="saschaModal">Kigo</a> GO game and worked on several KDE sub-systems. Once at SUSE
				  Sascha developed a keen eye for all the nitty gritty details of todays wonderful world of frontend development.
				</p>
				<p>
				  Mostly you'll observe him working on the OBS concepts and refactoring the webui, when he's not busy with his new dayjob
				  at the awesome SUSE CLOUD team, filling his last.fm profile or cuddling with his offspring.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:saschpe@suse.de"><img src="/images/icons/email.png" title="Email Sascha"></a></li>
				<li><a href="http://saschpe.wordpress.com/"><img src="/images/icons/rss.png" title="Sascha's Blog"></a></li>
				<li><a href="http://github.com/saschpe"><img src="/images/icons/github.png" title="Sascha on Github"></a></li>
				<li><a href="http://twitter.com/saschpe"><img src="/images/icons/twitter.png" title="Sascha on Twitter"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div id="saschaModal" class="reveal-modal">
  <img src="/images/kigo.png">
  <p>Kigo!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
