<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/shyukri.png">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Shyukri Shyukriev</h4>
				<h5>Quality Assurance</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					Shyukri just joined the team to work on quality assurance for the OBS and is currently exploring manual and automated
					testing of OBS areas that are not already covered by our test suites.
				</p>
				<p>
				  When he's not breaking things on purpose or spending time with his family he's the star mid fielder of his local football team.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:ShShyukriev@suse.com"><img src="/images/icons/email.png" title="Email Shyukri"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
