<div class="row">
	<div class="four columns">
		<div class="row">
			<div class="twelve columns author-pic">
				<div class="panel radius">
				<img class="displayed" src="/images/team/wolfgang.jpg">
				</div>
			</div>
		</div>
	</div>
	<div class="eight columns">
		<div class="row">
			<div class="twelve columns author-title">
				<h4>Wolfgang Engel</h4>
				<h5>Admin</h5>
			</div>
			<div class="twelve columns author-bio">
				<p>
					More than 15 years in Linux system administration, on lightweight devices as well as on heavy lifting machines, Wolfgang brings to the table.
					All of the OBS reference server infrastructure is in his capable hands.
				</p>
				<p>
					Beside fixing machines he's very passionated with hiking/climbing and is considered the teams Yoda of Yoga.
				</p>
			</div>
			<div class="twelve columns author-links">
				<ul class="link-list">
				<li><a href="mailto:wengel@suse.de"><img src="/images/icons/email.png" title="Email Wolfgang"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
