<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" /> {% if page.title %}
  <title>{{ page.title }} - {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}

  <!-- OpenGraph metadata -->
  {%- assign page_title = page.title | default: site.title | escape %}
  {%- assign page_description = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
  {%- assign page_url = page.url | replace:'index.html','' | absolute_url %}
  {%- assign page_image = page.image | default: '/images/obs-banner.png' | absolute_url %}
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description"
    content="{{ page_description }}">
  <meta property="og:url" content="{{ page_url }}">
  {%- if page.layout == 'post' %}
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="{{ page.author | default: 'OBS Team' | escape }}">
  <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="og:article:section" content="{{ page.category }}">
  {%- endif %}
  <meta property="og:image" content="{{ page_image }}">

  <!-- Twitter metadata -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description"
    content="{{ page_description }}">
  <meta name="twitter:url" content="{{ page_url }}">
  <meta property="twitter:image" content="{{ page_image }}">

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/pygments-default.css">

  <link rel="alternate" type="application/rss+xml" href="//openbuildservice.org/feed.rss" title="Open Build Service Blog" />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Piwik -->
  <script type="text/javascript" src="//beans.opensuse.org/piwik/piwik.js">
  </script>

  <script type="text/javascript">
    try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 20);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
    } catch (err) {}
  </script>
  <noscript>
    <p><img src="//beans.opensuse.org/piwik/piwik.php?idsite=20" style="border:0" alt="" /></p>
  </noscript>
  <!-- End Piwik Tracking Code -->

  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <script src="/javascripts/semantic.min.js"></script>
  <script src="/javascripts/app.js"></script>
</head>

<body>
  <!-- Following Menu -->
  <div id="FollowingMenu" class="ui inverted huge top fixed hidden menu">
    <div class="ui container">
      <a href="/" alt="Home" title="Home"><img class="logo" src="/images/obs-logo.svg" style="height: 3.5em;"></a>
      <a href="/" alt="Home" title="Home" class="item right floated">Home</a>
      <a href="/download/" title="Get all the OBS components" class="item">Download</a>
      <a href="/help/" title="Read up upon the OBS, Screencasts, Talks, Workshops" class="item">Documentation</a>
      <a href="/support/" title="Talk to human beings about your OBS problems" class="item">Support</a>
      <a href="/team/" title="The People behind OBS" class="item">Team</a>
      <a href="/blog/" title="News about OBS" class="item">Blog</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div id="SideMenu" class="ui vertical inverted sidebar menu">
    <a href="/" alt="Home" title="Home"><img class="logo" src="/images/obs-logo.svg"></a>
    <a href="/" alt="Home" title="Home" class="item right floated">Home</a>
    <a href="/download/" title="Get all the OBS components" class="item">Download</a>
    <a href="/help/" title="Read up upon the OBS, Screencasts, Talks, Workshops" class="item">Documentation</a>
    <a href="/support/" title="Talk to human beings about your OBS problems" class="item">Support</a>
    <a href="/team/" title="The People behind OBS" class="item">Team</a>
    <a href="/blog/" title="News about OBS" class="item">Blog</a>
  </div>

  <!-- Page Contents -->

  <div class="pusher">
  {{ content }}
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height centered grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <h4 class="ui inverted header">Contact</h4>
            <a href="irc://irc.libera.chat/openSUSE-buildservice" rel="nofollow" target="_blank" title="#openSUSE-buildservice IRC" class="item"><i class="comments outline icon"></i> IRC chat</a>
            <a href="https://lists.opensuse.org/archives/list/buildservice@lists.opensuse.org/" target="_blank" title="OBS Mailing list" class="item"><i class="mail icon"></i> Mailing list</a>
            <a href="https://fosstodon.org/@obshq" rel="me" target="_blank" title="OBS on Mastodon" class="item">🐘 Mastodon</a>
          </div>
        </div>
        <div class="three wide column">
          <div class="ui inverted link list">
            <h4 class="ui inverted header">Links</h4>
            <a href="https://github.com/openSUSE/open-build-service" target="_blank" title="OBS Github repository" class="item"><i class="github icon"></i> Github repository</a>
            <a href="https://build.opensuse.org/" target="_blank" class="item" title="OBS Reference server at build.opensuse.org"><i class="factory icon"></i> Reference Server</a>
          </div>
        </div>
        <div class="three wide column">
          <a href="https://www.opensuse.org/" target="_blank" title="openSUSE.org" alt="openSUSE.org" id="OpensuseLogo">{% include OpenSUSE_Logo.svg %}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui inverted vertical segment">
    <div class="ui inverted centered grid">
      <div class="five wide column">
        <small class="recognition">Powered by <a href="https://www.netlify.com/">Netlify</a>, <a href="https://semantic-ui.com/">Semantic UI</a> and the <a href="https://thenounproject.com/">Noun Project</a></small>
      </div>
    </div>
  </div>
</body>

</html>
