---
layout: default
---

<div class="row">
  <div class="twelve columns">
    <h3 class="post-headline"><a href="{{ page.url }}">{{ page.title }}</a></h3>
    <div class="post-meta">
    {% if page.author %}
    by {{ page.author }}
    {% else %}
    by the OBS Team
    {% endif %}
    on {{ page.date | date: "%B %d. %Y" }}
    {% if page.category %} in the category <a href="/categories/{{ page.category | slugize }}">{{ page.category }}</a> {% endif %}  
    </div>
  {{ content }}
  </div>
  
  <div class="twelve columns">
    <div id="disqus_thread">
    </div>
  </div> 
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'obshq'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  
   <div class="four columns post-nav">
    {% if page.previous.url %}
      &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="Previous Post: {{ page.previous.title }}">{{ page.previous.title }}</a>
    {% endif %}
  </div>
  <div class="four columns post-nav">
    <p>|</p>
  </div>
  <div class="four columns post-nav"> 
    {% if page.next.url %}
      <a href="{{ page.next.url }}" rel="next" title="Next Post: {{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
    {% endif %}
  </div>
    <br />
  </div>
</div>
